# Truffle build directory
/build

# Environment & secrets
.env
.secret

# Dependencies
/node_modules
package-lock.json

# Truffle migrations
/migrations/*.js
!/migrations/1_initial_migration.js
!/migrations/2_deploy_contracts.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Coverage directory used by tools like solidity-coverage
/coverage
coverage.json

# Hardhat files
cache
artifacts

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Local blockchain data
/chaindata