# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
**/node_modules

# Testing
/coverage

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build
/dist

# Truffle & Blockchain
/build/contracts
.env
.secret
/migrations/*.js
!/migrations/1_initial_migration.js
!/migrations/2_deploy_contracts.js

# Environment Variables
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.eslintcache

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history